/* Set the whole background. */
.root {
	-fx-background: white;
	-fx-font-size: 13px;
}

/* Set the whole button. */
.button {
    -fx-background-color: #87c0cd;
    -fx-background-radius: 3, 3;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 1 );
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #113f67;
    -fx-background-radius: 3, 3;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 1 );
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

#secondary-button {
	-fx-background-color: #f3f9fb;
    -fx-background-radius: 3, 3;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 1 );
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

#secondary-button:hover {
    -fx-background-color: #87c0cd;
    -fx-background-radius: 3, 3;
    -fx-background-insets: 1, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0.0, 0, 1 );
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

/* Set the whole text-field. */
.text-field {
	-fx-font-size: 12px;
}

/* Set the listcell and listview. */
.list-cell {
    -fx-background-color: transparent;
}

.list-cell:filled:selected .label {
    -fx-text-fill: black;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.list-view {
    -fx-background-color: transparent;
    -fx-selection-bar: green;
}

/* Set the scroll pane. */
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.corner {
	-fx-background-color: transparent;
}

/* The customized recipe box. */
#recipe-box {
	-fx-border-width: 1;
	-fx-border-color: #f3f9fb;
	-fx-background-color: #f3f9fb;
}

#recipe-name {
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

#recipe-infomation-box {
	-fx-font-size: 13px;
}

/* The scroll bar. */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: white /* derive(gray, 80%) */;
	-fx-border-color: white /* derive(gray, 80%) */;
	-fx-background-radius: 3em;
	-fx-border-radius: 3em;
}
 
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 0 10 0;
}
 
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
	-fx-background-radius: 0em;
	-fx-padding: 0 10 0 0;
}
 
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";	
	-fx-padding: 0;
}
 
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}
